.container{
    flex-direction: column;
    border: 1px solid #ccc8c8;
    border-radius: 6px;
    width: 360px;
    padding: 15px;
}
.div{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
}
body{
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Arial, sans-serif;
    height: 96.5vh;
}
p{
    font-size: 15px;
    color: #444343;
}
.title{
    margin-top: 15px;
    font-size: 1.2em;
    display: block;
    font-weight: bold;
}