* {
    margin: 0;
    padding: 0;
}
body{
    background: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    align-items: center;
}
.awal{
    border: 1.2px solid black;
    margin-right: 350px;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 8px;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
    width: 545px;
    height: 1740px;
    flex-direction: column;
    line-height: 1.5;
}
.i{
    margin-top: 25px;
}
h1,
h2,
h3{
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}
p{
    font-weight: 545px;
    font-size: 14px;
    line-height: 20px;
}
img{
    width: 545px;
    height: 307px;
}